syn_data/
*cache*/
*.tar
*.pth
*.tar.gz
*.csv
data/
.Ds_Store
pools/
*.log
*.pt
*.error
FKD_cutmix_fp16
wandb/
new_labels/
save
exp/
logs/
patches/
initialisation_patches/
Generated_files/
move.py
test_performance_nas.py
test_performance.py
a.py
test.py
